---
import Layout from '../../layouts/Layout.astro'
const pageTitle = "Home Page"
const data = Astro.locals
const currentUser = data.user
---
<Layout pageTitle={pageTitle}>
    <section>
        <div>
            {currentUser && <h2>Welcome {currentUser.email}!</h2>}
            <br />
            <p>Cum beatae reiciendis reprehenderit cupiditate, nam distinctio placeat necessitatibus dolores perspiciatis quae id aliquam laudantium exercitationem facilis odit iusto culpa modi voluptatibus qui rem sapiente ullam? Enim neque voluptate, veniam blanditiis sapiente inventore repudiandae a eos quasi? Rem incidunt, consectetur omnis quia optio aut nisi saepe corrupti molestiae sed recusandae doloremque cumque delectus illum dolor voluptas ad sit laboriosam non tenetur reiciendis expedita alias deserunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur inventore blanditiis modi laboriosam. Unde facere numquam natus accusamus vel soluta incidunt, deserunt nostrum voluptatem architecto ipsum blanditiis, molestiae beatae a! Nesciunt non veritatis velit praesentium voluptatem provident modi cumque neque repellat molestias labore, pariatur facilis.</p>
        </div>
        <!-- <div>
            <pre>{JSON.stringify(data.user, 2, null)}</pre>
            
        </div> -->
    </section>
</Layout>
