---
import Layout from "../../layouts/Layout.astro"
const pageTitle = "Signup page"
---
<Layout title={pageTitle}>
<div>
<h2>{pageTitle}</h2>
<form method="POST">
<label class="field">
<span>Email</span>
<input type="email" name="email" placeholder="Email" />
</label>
<label class="field">
<span>Password</span>
<input type="password" name="password" placeholder="Password" />
</label>
<label class="field">
<span>Confirm Password</span>
<input type="password" name="passwordConfirm" placeholder="Confirm your password" />
</label>
<button class="btn">Submit</button>
</form>
</div>
</Layout>

<style>
form {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1em;
}
.field {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 0.5em;
  
}
</style>