@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Poppins';
  background-color: #f1f5f9;
}
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
body {
  min-height: 100vh;
  display: grid;
  gap: 1em;
  grid-template-rows: auto auto 1fr auto;
  max-width: 80ch;
}

footer {
  text-align: center;
  margin-top: 1em;
  border-top: 1px solid #ccc;
  background: #ccc;
}

@media (min-width: 40em) {
  body {
    grid-template-columns: 12em 1fr;
    grid-template-rows: auto 1fr auto;
  }

  nav {
    grid-row: span 2;
  }
  .nav-links a {
    margin-right: 10px;
    margin-bottom: 20px;
  }
  header {
    grid-column: span 2;
  }
}

/* show… */
body {
  background: var(--dark-purple);
}

header,
nav,
main,
footer {
  background: var(--background);
  padding: 1em;
}

h1 {
  font-family: var(--zilla);
}
