* {
  box-sizing: border-box;
}
html {
  font-family: 'Poppins';
  background-color: #f1f5f9;
}
body {
  min-height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid:
    'header' auto
    'nav' auto
    'main' 1fr
    'footer' auto
    / 1fr;
}

@media (min-width: 40em) {
  body {
    grid:
      'header header' auto
      'nav main' 1fr
      'nav footer' auto
      / 12em 1fr;
  }
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/* show… */
body {
  background: var(--dark-purple);
}

header,
nav,
main,
footer {
  background: var(--background);
  padding: 1em;
}

h1 {
  font-family: var(--zilla);
}
