---
import Layout from '../layouts/Layout.astro'
const pageTitle = "Blog";
---
<Layout title={pageTitle}>

 <h2>Blog page</h2>

    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A inventore accusamus modi rem, maiores doloremque. Neque sed vero corrupti excepturi?</p>

</Layout>