---
---
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </nav>


<style>
nav {
  display: flex;
  text-decoration: none;
  background: #ccc;
}

nav a {
  padding: 10px;
}

</style>