---
---
<nav class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/auth/signup">Signup</a>
</nav>


<style>

.nav-links a {
  margin-right: 10px;
}
</style>
