---
---
<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/auth/signup">Signup</a>
</div>


<style>
.nav-links {
  display: flex;

}
.nav-links a {
  margin-right: 10px;
}
</style>
